---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Books from "../components/Books.astro";
import Running from "../components/Running.astro";
import Nav from "../components/Nav.astro";
import Work from "../components/Work.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Home Page">

  <div class="mx-auto max-w-2xl justify-center divide-y">
	<Header />
	
	<About />
	<Footer />
	<!--<Nav /><Books /><Running />	<Work />-->
  </div>
</Layout>
