---

---
<div id = "about" class = "justify-center prose p-2">
    <p>
        I am Gordon Brady, and I recently completed an MSc in Data Science. 
    </p>
   
    <p>
        Before my masters, I was a Maths and Computer Science teacher in a London school. While in charge of Key Stage 4, I realised I enjoyed data analysis and automating our data gathering procudures more than I liked the teaching. 
    </p>
    <p>
        When teaching A-Level Computer Science, I wanted more time to learn and build myself.
    </p>
    <p>
        So I stopped teaching, plugged some gaps in my knowledge, and started my masters.
    </p>
    <p>
        Amonst other things, I am interested in Machine Learning, Data Visualisation, and Web Development.
    </p>
    <p> 
         I am also a keen reader, runner, climber, and a reluctant gardener.
    </p>
</div>