---

---

<div class ="flex justify-center">
    <a href="www.twitter.com/gordonbrady" class="p-4 hover:underline" >Twitter</a>
    <a href="www.intragram.com/gordonbrady" class="p-4 hover:underline">Unused Instragram</a>
    <a href="https://www.linkedin.com/in/gordon-brady-0837123a/" class="p-4 hover:underline" >LinkedIn</a>

</div>