---

---


<header>
    <div class ="flex justify-center prose ">
    <h1 class="justify-center  max-h-5 m-6">Gordon Brady</h1>
</div> 
<div id = "home" class ="flex justify-center">
    <img class="rounded-full max-h-12 m-2" src="header_photo.jpg"  alt="Picture of Gordon Brady, making a speach" />
</div>
</header>
