---

---
<div class ="flex justify-center">
    <a href="#home" class="p-4 hover:underline" >Home</a>
    <a href="#about" class="p-4 hover:underline">About</a>
    <a href="#books" class="p-4 hover:underline" >Books</a>
    <a href="#reading" class="p-4 hover:underline">Reading</a>
    <a href="#work" class="p-4 hover:underline">Work</a>
</div>